@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: Open-sans;
    src: url('../assets/fonts/open_sans/OpenSans-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: Open-sans;
    src: url('../assets/fonts/open_sans/OpenSans-Light.ttf');
    font-weight: 400;
}

@font-face {
    font-family: Milkstore;
    src: url('../assets/fonts/Milkstore/Milkstore.otf');
    font-weight: 700;
}

:root {
    --primary: #EB6624;
    --secondary: #18293E;
    --text: #18293c99;
    --text-secondary: #ffffff99;
}

body{
    font-family: Open-sans;
}

section {
    display: flex;
    align-items: center;
    flex-direction: column;
}


.block_content {
    max-width: 1440px;
    padding: 100px 200px;
    width: 100%;
}

h1{
    color: #FFF;
    font-family: Milkstore;
    font-size: 42px;
    font-weight: 400;
}

h2{
    font-family: Open-sans;
    font-size: 30px;
    font-weight: 700;
    line-height: normal;
}

.orange_button {
    background: var(--primary);
    color: #FFF;
    font-family: Milkstore;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    padding: 15px 25px;
    text-align: center;
    border-radius: 10px;
}

.orange_button:hover,
.button_hover:hover {
    transform: translateY(3px) scale(1.01);
}


/* menu header */
#menu-header-menu {
    display: flex;
    gap: 40px;
    color: #FFF;
    font-family: Open-sans;
    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: -0.36px;
}

#menu-header-menu .sub-menu {
    display: none;
    position: relative;
}

#menu-header-menu .sub-menu.show {
    display: block !important;
    left: 0;
    position: absolute;
    background: #232323;
    width: 150px;
    top: 35px;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.22);
}


#menu-header-menu li {
    display: flex;
    position: relative;
    gap: 5px;
    cursor: pointer;
    position: relative;
}

#menu-header-menu li a {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}

.menu-item-has-children::after {
    content: url(../assets/images/menu-arrow.svg);
    color: #fff;
    position: absolute;
    font-size: 25px;
    top: -5px;
    right: -20px;
    transition: all 0.25s cubic-bezier(0.4, 0, 1, 1);
}

.rotate::after {
    transform: scaleX(1) scaleY(1) scaleZ(1) rotateX(180deg) rotateY(0deg) rotateZ(0deg) translateX(0px) translateY(-10px) translateZ(0px) skewX(0deg) skewY(0deg);
    transition: all 0.25s cubic-bezier(0.4, 0, 1, 1);
}

.learn_more:hover img{
    margin-left: 12px;
}

.content ul{
    list-style: disc;
    margin-left: 20px;
    margin-top: 20px;
}

/* the slides */
.slick-slide {
    margin: 0 5px !important;
}

/* the parent */
.slick-list {
    margin: 0 -5px !important;
}

.slick-dots {
    bottom: -95px !important;
    text-align: start !important;
}

footer ul .menu-item a {
    color: #ffffffcc;
    position: relative;
}

footer ul .menu-item {
    margin-bottom: 30px;
}