@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: Open-sans;
    src: url('../assets/fonts/open_sans/OpenSans-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: Open-sans;
    src: url('../assets/fonts/open_sans/OpenSans-Light.ttf');
    font-weight: 400;
}

@font-face {
    font-family: Milkstore;
    src: url('../assets/fonts/Milkstore/Milkstore.otf');
    font-weight: 700;
}

:root {
    --primary: #EB6624;
    --secondary: #18293E;
    --text: #18293c99;
    --text-secondary: #ffffff99;
}

body {
    font-family: Open-sans;
}

section {
    display: flex;
    align-items: center;
    flex-direction: column;
}


.block_content {
    max-width: 1440px;
    padding: 100px 200px;
    width: 100%;
}

h1 {
    color: #FFF;
    font-family: Milkstore;
    font-size: 42px;
    font-weight: 400;
}

h2 {
    font-family: Open-sans;
    font-size: 30px;
    font-weight: 700;
    line-height: normal;
}

.orange_button {
    background: var(--primary);
    color: #FFF;
    font-family: Milkstore;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    padding: 15px 25px;
    text-align: center;
    border-radius: 10px;
}

.orange_button:hover,
.button_hover:hover {
    transform: translateY(3px) scale(1.01);
}


/* menu header */
#menu-header-menu {
    display: flex;
    gap: 40px;
    color: #FFF;
    font-family: Open-sans;
    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: -0.36px;
}

#menu-header-menu .sub-menu,
#menu-header-menu-1 .sub-menu {
    display: none;
    position: relative;
}

#menu-header-menu .sub-menu.show {
    display: block !important;
    left: 0;
    position: absolute;
    background: #232323;
    width: 150px;
    top: 35px;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.22);
}

#menu-header-menu-1 .sub-menu.show {
    display: block !important;
}


#menu-header-menu li {
    display: flex;
    position: relative;
    gap: 5px;
    cursor: pointer;
    position: relative;
}

#menu-header-menu li a {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
}

#menu-header-menu-1 {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

#menu-header-menu-1 {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
}

#menu-header-menu-1 li {
    display: flex;
    flex-direction: column;
    position: relative;
    cursor: pointer;
    position: relative;
}

#menu-header-menu-1 .sub-menu {
    margin-left: 20px;
    margin-top: 10px;
}

#menu-header-menu-1 .menu-item-has-children::after {
    top: -15px !important;
}

.menu-item-has-children::after {
    content: url(../assets/images/menu-arrow.svg);
    color: #fff;
    position: absolute;
    font-size: 25px;
    top: -5px;
    right: -20px;
    transition: all 0.25s cubic-bezier(0.4, 0, 1, 1);
}

.rotate::after {
    transform: scaleX(1) scaleY(1) scaleZ(1) rotateX(180deg) rotateY(0deg) rotateZ(0deg) translateX(0px) translateY(-10px) translateZ(0px) skewX(0deg) skewY(0deg);
    transition: all 0.25s cubic-bezier(0.4, 0, 1, 1);
}

.learn_more:hover img {
    margin-left: 12px;
}

.content ul {
    list-style: disc;
    margin-left: 20px;
    margin-top: 20px;
}

/* the slides */
.slick-slide {
    margin: 0 5px !important;
}

/* the parent */
.slick-list {
    margin: 0 -5px !important;
}

.slick-dots {
    bottom: -95px !important;
    text-align: start !important;
}

footer ul .menu-item a {
    color: #ffffffcc;
    position: relative;
}

footer ul .menu-item {
    margin-bottom: 30px;
}


.menu-mobile-container.active {
    right: 0;
    opacity: 1;
    transition: all 0.8s ease-out;
}

.menu-mobile-container {
    right: -600px;
    top: 0px;
    opacity: 0;
    display: block;
    transition: all 0.8s ease-in;
}

/* hamburguer menu */

#nav-icon4 {
    width: 25px;
    height: 21px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

#nav-icon4 span {
    display: block;
    position: absolute;
    height: 2px;
    width: 25px;
    background: #FFF;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

/* Icon 4 */
#nav-icon4 span:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

#nav-icon4 span:nth-child(2) {
    top: 8px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

#nav-icon4 span:nth-child(3) {
    top: 15px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

#nav-icon4.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    /*top: -3px;
    left: 8px;*/
}

#nav-icon4.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
}

#nav-icon4.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 18px;
    left: 0px;
}

.numeric-list h2{
    display: inline-block;
}

@media screen and (max-width: 1300px) {
    header .orange_button {
        font-size: 14px;
        padding: 12px 15px;
    }
}

@media screen and (max-width: 1250px) {
    .block_content {
        padding: 100px 100px;
    }
}

@media screen and (max-width: 1200px) {
    #menu-header-menu {
        gap: 25px;
        font-size: 16px;
    }
}


@media screen and (max-width: 1023px) {
    .block_content {
        padding: 100px 40px;
    }

    h1 {
        font-size: 36px;
        font-weight: 400;
    }

    h2 {
        font-size: 24px;
        font-weight: 700;
    }
}